.songRow {
	display: flex;
	padding: 8px 32px;
	align-items: center;
	z-index: 100;
	color: white;
	transition: 100ms background-color ease-in;
}

.songRow:hover {
	cursor: pointer;
	background-color: hsla(0, 0%, 100%, 0.1);
	opacity: 0.8;
}

.songRowInfo {
	margin-left: 15px;
}

.songRowInfo h1 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.3px;
}

.songRowInfo p {
	font-size: 14px;
	margin-top: 3px;
	color: white;
	opacity: 0.6;
	font-weight: 500;
}

.songRowAlbum {
	height: 54px;
	width: 54px;
}
