.body {
	flex: 0.9;
	height: 88vh;
	overflow-y: overlay;
	color: white;
	padding: 16px 30px 30px 30px;
	background: linear-gradient(#8f3841, #000);
}

.bodyInfo {
	display: flex;
	align-items: flex-end;
	padding: 10px;
}

.bodyInfo .headerText {
	font-size: 12px;
	letter-spacing: 0.2px;
	font-weight: 700;
}

.bodyInfo img {
	width: 232px;
	height: 232px;
	margin: 0 20px 0 0;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.bodyInfoText {
	flex: 1;
}

.bodyInfoText h2 {
	font-size: 84px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 980px;
}

@media (max-width: 1023px) {
	.bodyInfoText h2 {
		font-size: 67px !important;
	}
}

@media (max-width: 930px) {
	.bodyInfoText h2 {
		font-size: 56px !important;
	}
}

@media (max-width: 890px) {
	.bodyInfoText h2 {
		font-size: 47px !important;
	}
}

@media (max-width: 823px) {
	.bodyInfoText h2 {
		font-size: 35px !important;
	}
}

@media (max-width: 730px) {
	.bodyInfoText h2 {
		font-size: 32px !important;
	}
}

@media (max-width: 787px) {
	.bodySongs {
		margin: 20px -500px 10px -30px !important;
	}
}

.bodyInfoText p {
	font-size: 13px;
	color: hsla(0, 0%, 100%, 0.7);
	line-height: 16px;
	font-weight: 500;
	letter-spacing: 0.015em;
}

.bodyIcons {
	display: flex;
	align-items: center;
}

.bodyIcons .MuiSvgIcon-root {
	margin-right: 20px;
}

.bodyShuffle {
	font-size: 66px !important;
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #1db954;
}

.bodyShuffle:hover {
	transition: 100ms transform ease-in;
	transform: scale(1.08);
}

.bodySongs {
	background-image: linear-gradient(rgb(18 18 18 / 46%), #121212);
	margin: 20px -30px 0 -30px;
	padding-bottom: 15px;
}

.bodyInfoText .owner {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 33px;
	letter-spacing: 0.015em;
}

.bodyInfoText .songs:before {
	content: '•';
	margin: 0px 4px;
}
