.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #282828;
	padding: 0 16px;
	height: 90px;
	display: flex;
	justify-content: space-between;
}

.footerLeft {
	display: flex;
	align-items: center;
	color: white;
	width: 300px;
	flex: 0.3;
}

.footerGreen {
	color: #1ed15e;
}

.footerSongInfo {
	line-height: 18px;
	margin: 0 14px;
}

.footerSongInfo h4 {
	font-size: 13px;
	letter-spacing: 0.9px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 165px;
}

.footerSongInfo p {
	font-size: 12px;
	color: #b3b3b3;
	letter-spacing: 1px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 165px;
}

.footerIcon:hover,
.footerGreen:hover {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.2) !important;
}

.footerRight * .MuiSlider-root {
	color: #fff;
}

.footerAlbumLogo {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 56px;
	height: 56px;
	object-fit: contain;
}

.footerCenter {
	flex: 0.4;
	padding: 0 100px;
	color: rgb(255 255 255 / 60%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 300px;
}

.footerRight {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	flex: 0.3;
	padding: 0 40px 0 0;
}

.MuiSlider-root {
	width: 64%;
}
